---
Checks:
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  clang-analyzer-*,
  -clang-diagnostic-unused-function,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-narrowing-conversions,
  google-*,
  -google-readability-todo,
  -google-readability-braces-around-statements,
  -google-runtime-int,
  -google-build-using-namespace,
  misc-*,
  -misc-const-correctness,
  -misc-non-private-member-variables-in-classes,
  modernize-use-nullptr,
  llvm-*,
  -llvm-header-guard,
  -llvm-include-order,
  performance-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-named-parameter,
  -readability-redundant-member-init,
  -readability-magic-numbers,
  -clang-diagnostic-error,

CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: "1;2;3;4;8;9;10;15;32;127;128;240;255"
  # Allow things like CHARSET_INFO cs;
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-function-cognitive-complexity.Threshold
    value: 50
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: "_"

WarningsAsErrors: ''
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - cc
FormatStyle: google
SystemHeaders: false
...

