---
Checks: '
    clang-diagnostic-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*, 
    -modernize-raw-string-literal,
    -modernize-use-bool-literals,
    -modernize-use-trailing-return-type
  '
CheckOptions:
  - key: modernize-use-trailing-return-type
    value: 0
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
WarningsAsErrors: ''
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - cc
FormatStyle: google
SystemHeaders: false
...

